.message-list-container {
  display: flex;
  flex-direction: row;
}

.message-avatar {
  width: 38px;
  height: 38px;
  border-radius: 20%;
  margin-right: 8px;
  vertical-align: middle;
}

.message-autor {
  color: white;
}

.message-content {
  color: white;
}
