.canal-title {
  color: #d1bdd6;
  font-size: 18px;
  font-weight: 600;
}
.channel-item {
  background: transparent;
  border: none;
  color: #d1bdd6;
  padding: 6px 0px;
  margin: 2px 0;
  cursor: pointer;
  text-align: left;
  border-radius: 6px;
  font-size: 15px;
  transition: background 0.2s;
}

.channel-item:hover {
  background: rgba(255, 255, 255, 0.1);
}

.channel-item-active {
  background: #8b4d8b;
  color: #fff;
}
.add-channel-button {
  background: transparent;
  border: none;
  color: #d1bdd6;
  font-size: 24px;
  cursor: pointer;
  padding: 0;
  width: 30px;
  height: 30px;
  border-radius: 4px;
  transition: background 0.2s;
}

.add-channel-button:hover {
  background: rgba(255, 255, 255, 0.1);
}
