.channelList-cnt {
  display: flex;
  flex-direction: column;
}

.channelList-title-cnt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.5rem;
}

.canal-title {
  color: #d1bdd6;
  font-size: 1.3rem;
  font-weight: 600;
}

.channel-item {
  background: transparent;
  border: none;
  color: #d1bdd6;
  padding: 6px 0px;
  margin: 2px 0;
  cursor: pointer;
  text-align: left;
  border-radius: 6px;
  font-size: 1rem;
  transition: background 0.2s;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.channel-item:hover {
  background: rgba(255, 255, 255, 0.1);
}

.channel-item-active {
  background: #8b4d8b;
  color: #fff;
}

.add-channel-button {
  background: transparent;
  border: none;
  color: #d1bdd6;
  font-size: 24px;
  cursor: pointer;
  padding: 0;
  width: 30px;
  height: 30px;
  border-radius: 4px;
  transition: background 0.2s;
}

.add-channel-button:hover {
  background: rgba(255, 255, 255, 0.1);
}

/* ========== RESPONSIVE ========== */

/* Tablets */
@media (max-width: 768px) {
  .canal-title {
    font-size: 16px;
  }

  .channel-item {
    font-size: 14px;
    padding: 8px 4px;
  }

  .add-channel-button {
    font-size: 22px;
    width: 28px;
    height: 28px;
  }
}

/* M칩viles */
@media (max-width: 480px) {
  .channelList-title-cnt {
    display: none;
  }

  .canal-title {
    font-size: 16px;
  }

  .channel-item {
    font-size: 22px;
    padding: 15px 6px;
    margin: 3px 0;
    padding-right: 1rem;
    padding-left: 0.5rem;
  }
  .channel-time {
    font-size: 0.9rem; /* Un poquito m치s grande en mobile */
  }

  .add-channel-button {
    font-size: 20px;
    width: 26px;
    height: 26px;
  }
  .channel-item-active {
    background: #2d1b4e;
    color: #fff;
  }
}

/* M칩viles muy peque침os */
@media (max-width: 360px) {
  .canal-title {
    font-size: 14px;
  }

  .channel-item {
    font-size: 12px;
  }
}
