.chat-panel-container {
  background-color: rgb(26, 29, 33);
  height: 100vh;
  display: flex;
  flex-direction: column;

  padding-bottom: 15px;
}

.chat-panel-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
