* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

html {
  margin: 0;
  padding: 0;
}
