.createWorkspace-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
}

.createWorkspace-logo {
  display: flex;
  justify-content: center;
}

.createWorkspace-logo img {
  width: 125px;
  height: auto;
}

.createWorkspace-title-subtitle {
  display: flex;
  flex-direction: column;
  align-items: center;
}
